<!DOCTYPE html>
{% extends 'mainApp/base.html' %}
{% block body_block %}
<body>
<div class="jumbotron container">
    {% if registered %}
    <h1>Thanks for Registration</h1>
    {% else %}
    <h2>Fill the form!</h2>
    <form enctype="multipart/form-data" method="POST" action="">
        <div class="form-group">

            {{ form.as_table }}
            {% csrf_token %}
        </div>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
</div>
</body>
{% endblock %}
